<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
		<style>
		body, input[type="text"], textarea {
			font-size: 18px;
		}
		</style>
    </head>
    <body>
		<h1>{{.Title}}</h1>
		<a target="_blank" href="/appcast/{{.Identity}}/{{.Token}}">appcast.xml</a>

		<h2>Upload New Release</h2>
        <div>
            <form method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>Title</td>
                        <td>
                            <input type="text" name="title" placeholder="Release Title"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <input type="text" name="version" placeholder="201 (BuildNumber)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>ShortVersion</td>
                        <td>
                            <input type="text" name="shortVersionString" placeholder="1.2.0"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Publish Date</td>
                        <td>
                            <input type="date" name="pubDate"/>
                        </td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td>
                            <input type="file" name="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <textarea name="desc" rows="5" cols="70"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Release Note</td>
                        <td>
							<textarea name="releaseNoteLink" rows="10" cols="70"></textarea>
                        </td>
                    </tr>
					<tr>
						<td>DSA Signature</td>
						<td> 
							<textarea name="dsaSignature" rows="3" cols="70"></textarea>
						</td>
					</tr>
                </table>
				<button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>
