<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Upload Page</h2>
        <div>
            <form method="post" enctype="application/x-www-form-urlencoded">
                <table>
                    <tr>
                        <td>Title</td>
                        <td>
                            <input type="text" name="title"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <input type="text" name="version"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Publish Date</td>
                        <td>
                            <input type="date" name="pubdate"/>
                        </td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td>
                            <input type="file" name="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <textarea rows="5" name="desc"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
